package templates

templ BasicPageBlock() {
    <!DOCTYPE HTML>
    <html style="background-color: #272727;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>DWEB</title>
    </head>
    <body>
        
    </body>
    </html>
}